@import 'bootstrap/scss/bootstrap';

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(20, 19, 19, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1050;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 8px;
  max-height: 80vh;
  max-width: 600px;
  overflow-y: auto;
  width: 90%;
  text-align: center;
  position: relative;
}
